{% extends 'layouts/base.html' %} 
{% block titulo %} Seleccionar Cliente {% endblock %} 

{% block contenido %}
<center>
    <nav class="navbar navbar-center navbar-dark bg-light mb-3 col-7">
        <div class="navbar-collapse">
            <div class="text-center fs-1 fw-bold">SELECCIONE EL CLIENTE</div>
            <a class="navbar-brand" style="color: black;"></a>
        </div>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <form method="POST">
                        <div class="mb-3 col-6">
                            <label for="codigo" style="color: white;">Codigo factura</label>
                            <input type="text" maxlength="50" value="{{codigo}}" placeholder="Codigo" required class="form-control" id="codigo" name="codigo">
                        </div>
                    
                        <div class="mb-3 col-6">
                            <label for="cliente" style="color: white;" >Cliente</label>
                            <select class="form-select" required id="cliente" name="cliente">
                            <option selected value="">Seleccione (Cliente)</option>
                            {% for cliente in clientes%}
                                <option value="{{cliente[0]}}">{{ cliente[0] }} ({{ cliente[1] }})</option>
                            {%endfor%}
                        </select>
                        </div>
                        <p>
                            <button type="submit" class="btn btn-primary" style="background-color:green">ENTRAR</button>
                        </p>
                    </form>
                    
                    <form action="{{ url_for('user') }}" method="get">
                        <p>
                            <input type="submit" class="btn btn-primary" value="Volver" name="Submit" id="frm1_submit">
                        </p>
                    </form>
                    
                </li>
               
            </ul>
        </div>
</center>
{% endblock%}