{% extends 'layouts/base.html' %} {% block titulo %} Fatura {% endblock %}
{% block contenido %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"><h1><b>PAPELERIA KELI</b></h1></a>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><b>Codigo Factura:</b> {{n_factura}} </a>
    <a class="nav-link"><b>Cliente:</b> ({{id_cliente}}) {{nombre_cliente}} {{apellido_cliente}}</a>
    <a class="nav-link"><b>Vendedor:</b> ({{id_empleado}}) {{nombre_empleado}} {{apellido_empleado}}</a>
</nav>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Id_registro_venta</th>
            <th>Producto</th>
            <th>Catidad</th>
            <th>Precio unitario</th>
            <th>IVA 19%</th>
            <th>Precio total</th>
        </tr>
    </thead>
    <tbody>
        {% for factura in facturas %}
        <tr>
            <td>{{ factura[0] }}</td>
            <td>{{ factura[1] }}</td>
            <td>{{ factura[2] }}</td>
            <td>{{ factura[3] }}</td>
            <td>{{ factura[4] }}</td>
            <td>{{ factura[5] }}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<center>
    <p>
        <h1>
            <b>Total a pagar: {{ total }}</b>
        </h1>
    </p>
    <p>
        <button type="submit" onclick="imprimir();">Imprimir</button>
    </p>
    
    <p>
        <input type="button" class="btn btn-primary" href="" value="Volver" onClick="history.go(-1);">
    </p>
</center>

<script>
    function imprimir(){
      window.print();
    }
</script>

{% endblock %}