{% extends 'layouts/base.html' %} 
{% block titulo %} Crear Empleado {% endblock %} 

{% block contenido %}
<h1>Crear Empleado</h1>
<form action="{{ url_for('crear_empleado') }}" method="POST">
    <div class="row">
        <div class="col-5 mb-3">
            <label for="cargo">Cargo</label>
            <select class="form-select" required id="cargo" name="cargo">
                <option selected value="">Seleccione (Cargo)</option>
                {% for nombreCargo in nombreCargos%}
                    <option value="{{nombreCargo[0]}}">{{ nombreCargo[0] }}</option>
                {%endfor%}
            </select>
        </div>
        <div class="col-5 mb-3">
            <label for="identificacion">Identificacion</label>
            <input type="number" placeholder="Identificacion" required class="form-control" id="identificacion" name="identificacion">
        </div>
    </div>

    <div class="row">
        <div class="col-5 mb-3">
            <label for="nombres">Nombres</label>
            <input type="text" maxlength="50" placeholder="Nombres" required class="form-control" id="nombres" name="nombres">
        </div>

        <div class="col-5 mb-3">
            <label for="apellidos">Apellidos</label>
            <input type="text" maxlength="50" placeholder="Apellidos" required class="form-control" id="apellidos" name="apellidos">
        </div>
    </div>

    <div class="row">
        <div class="col-5 mb-3">
            <label for="Telefono">Telefono</label>
            <input type="number" placeholder="Telefono" required class="form-control" id="telefono" name="telefono">
        </div>
    
        <div class="col-5 mb-3">
            <label for="direccion">Direccion</label>
            <input type="text" maxlength="50" placeholder="Direccion" required class="form-control" id="direccion" name="direccion">
        </div>
    </div>
    <div class="row">
        <div class="col-5 mb-3">
            <label for="genero">Genero</label>
            <select class="form-select" required id="genero" name="genero">
                <option selected value="">Seleccione (Genero)</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
            </select>
        </div>
        <div class="col-5 mb-3">
            <label for="password">Contraseña(Solo si el empleado ingresará a la pagina)</label>
            <input type="text" maxlength="50" placeholder="Contraseña para acceder a la pagina (Opcional)" class="form-control" id="password" name="password">
        </div>
    </div>
    <input type="button" class="btn btn-primary" href="" value="Volver" onClick="history.go(-1);"> 
    <button type="submit" class="btn btn-primary" style="background-color: green; border-color:black; color:black "; >Guardar</button>
</form>

{% endblock%}