{% extends 'layouts/base.html' %} {% block titulo %} Empleados {% endblock %}
{% block contenido %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"><h2><b>EMPLEADOS</b></h2></a>
</nav>
<nav class="navbar navbar-light bg-light">
    <a class="nav-link" href="{{ url_for('admin') }}"><b>Inicio</b></a>
    <a class="nav-link" href="{{ url_for('crear_empleado') }}"><b>Agregar empleado</b></a>
</nav>
<div class="table-responsive">
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cargo</th>
            <th>Identificación</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Genero</th>
            <th>Contraseña</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados%}
        <tr>
            <td>{{ empleado[0] }}</td>
            <td>{{ empleado[1] }}</td>
            <td>{{ empleado[2] }}</td>
            <td>{{ empleado[3] }}</td>
            <td>{{ empleado[4] }}</td>
            <td>{{ empleado[5] }}</td>
            <td>{{ empleado[6] }}</td>
            <td>{{ empleado[7] }}</td>
            <td>{{ empleado[8] }}</td>
            <td>
                <a href="{{ url_for('editar_empleado', id=empleado[0])}}" style="color: green">
                    <span class="material-icons">
                        drive_file_rename_outline
                    </span>
                </a>
            </td>
            <td>
                <a href="{{ url_for('eliminar_empleado', id=empleado[0])}}" style="color: red" onclick="alert('Las ventas que halla realizado el empleado tambien fueron eliminadas')">
                    <span class="material-icons">
                        delete
                    </span>
                </a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
</div>
{% endblock %}