{% extends 'layouts/base.html' %} 
{% block titulo %} Recuperación de contraseña {% endblock %} 

{% block contenido %}
    <center>
        <nav class="navbar navbar-center navbar-dark bg-light mb-3 col-7">
            <div class="navbar-collapse">
                <div class="text-center fs-1 fw-bold"><b>PAPELERIA DIYA</b></div>
                <a class="navbar-brand" style="color: black;"></a>
            </div>
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <form method="POST">
                            <p>
                                <div class="col-6 mb-3">
                                    <label for="email"><b>Proporsione el correo registrado para recuperar su contraseña</b></label>
                                    <input type="text" maxlength="50" placeholder="Ejemplo@gmail.com"required class="form-control" id="email" name="email">
                                </div>    
                            </p>
                            <p>
                                <div class="d-flex gap-1 justify-content-center mt-1 mb-3">
                                    <a class="navbar-brand" style="color: blue"> {{ mensaje }}</a>
                                </div>
                            </p>
                            <p>
                                <button type="submit" class="btn btn-primary" style="background-color:green">ENVIAR</button>
                            </p>
                        </form>
                        <form action="{{ url_for('login_admin') }}" method="get">
                            <p>
                                <input type="submit" class="btn btn-primary" value="Volver" name="Submit" id="frm1_submit">
                            </p>
                        </form>
                        
                    </li>
                   
                </ul>
            </div>
        </nav>
    </center>


{% endblock %}
