{% extends 'layouts/base.html' %} 
{% block titulo %} Crear Cliente {% endblock %} 

{% block contenido %}
<h1>Crear Cliente</h1>
<form action="{{ url_for('crear_cliente') }}" method="POST">
    <div class="row">
        <div class="col-5 mb-3">
            <select class="form-select" required id="empresa" name="empresa">
                <option selected value="">Seleccione (Empresa)</option>
                {% for nombreEmpresa in nombreEmpresas%}
                    <option value="{{nombreEmpresa[0]}}">{{ nombreEmpresa[0] }}</option>
                {%endfor%}
            </select>
        </div>
        <div class="col-5 mb-3">
            <input type="number" placeholder="Identificacion" required class="form-control" id="identificacion" name="identificacion">
        </div>
    </div>

    <div class="row">
        <div class="col-5 mb-3">
            <input type="text" maxlength="50" placeholder="Nombres" required class="form-control" id="nombres" name="nombres">
        </div>

        <div class="col-5 mb-3">
            <input type="text" maxlength="50" placeholder="Apellidos" required class="form-control" id="apellidos" name="apellidos">
        </div>
    </div>

    <div class="row">
        <div class="col-5 mb-3">
            <input type="number" placeholder="Telefono" required class="form-control" id="telefono" name="telefono">
        </div>
    
        <div class="col-5 mb-3">
            <input type="text" maxlength="50" placeholder="Direccion" required class="form-control" id="direccion" name="direccion">
        </div>
    </div>
    <div class="row">
        <div class="col-3 mb-3">
            <select class="form-select" required id="genero" name="genero">
                <option selected value="">Seleccione (Genero)</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
            </select>
        </div>
    </div>
    
    <input type="button" class="btn btn-primary" href="" value="Volver" onClick="history.go(-1);">
    <button type="submit" class="btn btn-primary" style="background-color: green; border-color:black; color:black "; >Guardar</button>            

</form>

{% endblock%}