{% extends 'layouts/base.html' %} {% block titulo %} Clientes {% endblock %}
{% block contenido %}
<center>
    <h1>Listado de Clientes</h1>
</center>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Clientes</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('crear_cliente') }}">Crear Cliente</a>
        </li>
      </ul>
    </div>
</nav>
  
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Empresa</th>
            <th>Identificación</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Genero</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente[0] }}</td>
            <td>{{ cliente[1] }}</td>
            <td>{{ cliente[2] }}</td>
            <td>{{ cliente[3] }}</td>
            <td>{{ cliente[4] }}</td>
            <td>{{ cliente[5] }}</td>
            <td>{{ cliente[6] }}</td>
            <td>{{ cliente[7] }}</td>
            <td>
                <a href="{{ url_for('editar_cliente', id=cliente[0])}}" style="color: green">
                    <span class="material-icons">
                        drive_file_rename_outline
                    </span>
                </a>
            </td>
            <td>
                <a href="{{ url_for('eliminar_cliente', id=cliente[0])}}" style="color: red">
                    <span class="material-icons">
                        delete
                    </span>
                </a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}