{% extends 'layouts/base.html' %} {% block titulo %} Clientes {% endblock %}
{% block contenido %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"><h2><b>CLIENTES</b></h2></a>
</nav>
<nav class="navbar navbar-light bg-light">
    {% if session['usuario'] == "administrador" %}
    <a class="nav-link" href="{{ url_for('admin') }}"><b>Inicio</b></a>
    {%else%}
    <a class="nav-link" href="{{ url_for('user') }}"><b>Inicio</b></a>
    {%endif%}
    <a class="nav-link" href="{{ url_for('crear_cliente') }}"><b>Agregar cliente</b></a>
</nav>
<div class="table-responsive">
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Empresa</th>
            <th>Identificación</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Genero</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente[0] }}</td>
            <td>{{ cliente[1] }}</td>
            <td>{{ cliente[2] }}</td>
            <td>{{ cliente[3] }}</td>
            <td>{{ cliente[4] }}</td>
            <td>{{ cliente[5] }}</td>
            <td>{{ cliente[6] }}</td>
            <td>{{ cliente[7] }}</td>
            <td>
                <a href="{{ url_for('editar_cliente', id=cliente[0])}}" style="color: green">
                    <span class="material-icons">
                        drive_file_rename_outline
                    </span>
                </a>
            </td>
            <td>
                <a href="{{ url_for('eliminar_cliente', id=cliente[0])}}" style="color: red" onclick="alert('Los registros de compras que halla realizado este cliente tambien fueron eliminados')">
                    <span class="material-icons">
                        delete
                    </span>
                </a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
</div>
{% endblock %}