{% extends 'layouts/base.html' %} {% block titulo %} Inventario {% endblock %}
{% block contenido %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><h2><b>REGISTRO DE VENTAS</b></h2></a>
</nav>
<nav class="navbar navbar-light bg-light">
  <a class="nav-link" href="{{ url_for('admin') }}"><b>Inicio</b></a>
  <a class="nav-link"><b>Ganancia total:</b> {{ganancia}} </a>
  <form class="d-flex" action="{{ url_for('inventario') }}" method="POST">
    <a class="nav-link"><b>Fecha inicial</b></a>
    <div class="mb-1">
      <input type="date" required class="form-control" value="{{fechaInicial}}" id="fecha_inicio" name="fecha_inicio">
    </div>

    
    <a class="nav-link"><b>Fecha inicial</b></a>
    <div class="mb-1">
      <input type="date" required class="form-control" value="{{fechaFinal}}" id="fecha_final" name="fecha_final">
    </div>
    <div class="mb-lg-0">
      <button class="btn btn-outline-primary" type="submit">
        <span class="material-icons">
          search
        </span>
      </button>
    </div>
    
  </form>
</nav>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>Numero Factura</th>
            <th>Identificación cliente</th>
            <th>Nombre producto</th>
            <th>Cantidad</th>
            <th>Precio compra</th>
            <th>Precio venta</th>
            <th>Subtotal</th>
            <th>Total</th>
            <th>Ganancia</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for inventario in inventarios%}
        <tr>
            <td>{{ inventario[0] }}</td>
            <td>{{ inventario[1] }}</td>
            <td>{{ inventario[2] }}</td>
            <td>{{ inventario[3] }}</td>
            <td>{{ inventario[4] }}</td>
            <td>{{ inventario[5] }}</td>
            <td>{{ inventario[7] }}</td>
            <td>{{ inventario[8] }}</td>
            <td>{{ inventario[9] }}</td>
            <td>{{ inventario[10] }}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

<script>
  let fecha = document.getElementById('datePicker').valueAsDate = new Date();
</script>

{% endblock %}