{% extends 'layouts/base.html' %}

{% block titulo %}
    Papeleria KELI
{% endblock %}

{% block contenido %}
    <center>
        <nav class="navbar navbar-center navbar-dark bg-light mb-3 col-7">
            <div class="navbar-collapse">
                <a class="navbar-brand" style="color: black;"><h1>PAPELERIA KELI</h1></a>
                <a class="navbar-brand" style="color: black;">{{session['administrador']}} ({{session['usuario']}})</a>
            </div>
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <p>
                            <a class="btn btn-primary" href="{{ url_for('empleados') }}" role="button" style="background-color: rgb(13, 203, 209); border-color:black; color: black ">
                                <i class="bi bi-person-badge-fill"></i><br>
                                <b>Empleados</b>
                            </a>
                            <a class="btn btn-primary" href="{{ url_for('proveedores') }}" role="button" style="background-color: rgb(13, 203, 209); border-color:black; color: black ">
                                <i class="bi bi-truck-flatbed"></i></i><br>
                                <b>Proveedores</b>
                            </a>
                            <a class="btn btn-primary" href="{{ url_for('clientes') }}" role="button" style="background-color: rgb(13, 203, 209); border-color:black; color: black ">
                                <i class="bi bi-file-earmark-person-fill"></i><br>
                                <b>Clientes</b>
                            </a>
                            <a class="btn btn-primary" href="{{ url_for('cargos') }}" role="button" style="background-color: rgb(13, 203, 209); border-color:black; color: black ">
                                <i class="bi bi-person-workspace"></i><br>
                                <b>Cargos</b>
                            </a>
                        </p>
                        <p>
                            <a class="btn btn-primary" href="{{ url_for('productos') }}" role="button" style="background-color: rgb(13, 203, 209); border-color:black; color: black ">
                                <i class="bi bi-scissors"></i><br>
                                <b>Productos</b>
                            </a>
                            <a class="btn btn-primary" href="{{ url_for('marcas') }}" role="button" style="background-color: rgb(13, 203, 209); border-color:black; color: black ">
                                <i class="bi bi-brush-fill"></i><br>
                                <b>Marcas</b>
                            </a>
                            <a class="btn btn-primary" href="{{ url_for('empresas') }}" role="button" style="background-color: rgb(13, 203, 209); border-color:black; color: black ">
                                <i class="bi bi-briefcase-fill"></i><br>
                                <b>Empresas</b>
                            </a>
                            <a class="btn btn-primary" href="{{ url_for('inventario') }}" role="button" style="background-color: rgb(13, 203, 209); border-color:black; color: black ">
                                <i class="bi bi-currency-exchange" style="color: rgb(11, 13, 94);"></i><br>
                                <b>Registro de ventas</b>
                            </a>
                        </p>
                        
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('cambioPassword') }}" style="color: rgb(13, 203, 209)">Cambiar contraseña</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}" style="color: rgb(13, 203, 209)"><b>Cerrar Sesión</b></a> 
                    </li>
                   
                </ul>
            </div>
        </nav>
    </center>


{% endblock %}
