{% extends 'layouts/base.html' %} 
{% block titulo %} Crear Cargo {% endblock %} 

{% block contenido %}
<h1>Crear Cargo</h1>
<form action="{{ url_for('crear_cargo') }}" method="POST">   
    
    <div class="row">
        <div class="col-5 mb-3">
            <label for="cargo">Cargo</label>
            <input type="text" maxlength="50" placeholder="Proporsione el nombre del cargo" required class="form-control" id="cargo" name="cargo">
        </div>
    </div>

    
    <div class="row">
        <div class="col-5 mb-3">
            <label for="sueldo">Sueldo</label>
            <input type="number" placeholder="Digite el salario" required class="form-control" id="sueldo" name="sueldo">
        </div>
    </div>

    
    <div class="row">
        <div class="col-3 mb-3">
            <input type="button" class="btn btn-primary" href="" value="Volver" onClick="history.go(-1);">
            <button type="submit" class="btn btn-primary" style="background-color: green; border-color:black; color:black "; >Guardar</button>
        </div>
    </div>
</form>

{% endblock%}