{% extends 'layouts/base.html' %} 
{% block titulo %} Editar Cargo {% endblock %} 
{% block contenido %}
<h1>Editar Cargo</h1>
<a href="{{ url_for('cargos') }}">volver</a>


<form method="POST">
    <div class="row">
        <div class="col-5 mb-3">
            <label for="empresa">Nombre de Empresa</label>
            <select class="form-select" required id="empresa" name="empresa">
                <option selected value="">{{empresa}} (Seleccione)</option>
                {% for nombreEmpresa in nombreEmpresas%}
                    <option value="{{nombreEmpresa[0]}}">{{ nombreEmpresa[0] }}</option>
                {%endfor%}
            </select>
        </div>
    </div>
    
    
    
    <div class="row">
        <div class="col-5 mb-3">
            <label for="cargo">Cargo</label>
            <input type="text" maxlength="50" value="{{cargo}}" placeholder="Proporsione el nombre del cargo" required class="form-control" id="cargo" name="cargo">
        </div>
    </div>

    
    <div class="row">
        <div class="col-5 mb-3">
            <label for="sueldo">Sueldo</label>
            <input type="number" value="{{sueldo}}" placeholder="Digite el salario" required class="form-control" id="sueldo" name="sueldo">
        </div>
    </div>

    
    <div class="row">
        <div class="col-3 mb-3">
            <button type="submit" class="btn btn-primary" style="background-color: green; border-color:black; color:black "; >Guardar</button>
        </div>
    </div>


    
</form>

{% endblock%}