{% extends 'layouts/base.html' %} 
{% block titulo %} Administrar Login {% endblock %} 

{% block contenido %}
<center>
<nav class="navbar navbar-center navbar-dark bg-dark mb-3 col-5">
    <div class="navbar-collapse">
        <p>
            <a class="navbar-brand">Cambiar datos de acceso</a>
        </p>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <form action="{{ url_for('cambioPassword') }}" method="POST">
                    
                    <div class="mb-3 col-6">
                        <label for="nombre" style="color: white;">Nombre del Administrar</label>
                        <input type="text" maxlength="50" value="{{nombre}}" required class="form-control" id="nombre" name="nombre" placeholder="Nombre Aministraor">
                    </div>

                    <div class="mb-3 col-6">
                        <label for="email" style="color: white;">Email</label>
                        <input type="email" maxlength="50" value="{{email}}" required class="form-control" id="email" name="email" placeholder="Email">
                    </div>

                    <div class="mb-3 col-6">
                        <label for="usuario" style="color: white;">Identificacion</label>
                        <input type="number" maxlength="50" value="{{user}}" required class="form-control" id="usuario" name="usuario" placeholder="Usuario">
                    </div>
                
                    <div class="mb-3 col-6">
                        <label for="password" style="color: white;">Contraseña</label>
                        <input type="password" maxlength="50" value="{{passwor}}" minlength="8" required class="form-control" id="password" name="password" placeholder="Contraseña">
                    </div>
                    <p>
                        <button type="submit" class="btn btn-primary" style="background-color:green; color:black; border: black;">GARDAR Y SALIR</button>
                    </p>
                </form>
                <form action="{{ url_for('admin') }}" method="get">
                    <p>
                        <input type="submit" class="btn btn-primary" value="Volver" name="Submit" id="frm1_submit">
                    </p>
                </form>
            </li>
        </ul>
    </div>
</nav>
</center>
{% endblock%}