{% extends 'layouts/base.html' %} 
{% block titulo %} LOGIN {% endblock %} 

{% block contenido %}
<center>
<nav class="navbar navbar-center navbar-dark bg-dark mb-3 col-5">
    <div class="navbar-collapse">
        <a class="navbar-brand">EMPLEADOS</a>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="navbar-brand" style="color: red"> {{ error }}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <form action="{{ url_for('login_user') }}" method="POST">
                    <div class="mb-3 col-6">
                        <input type="text" maxlength="50" required class="form-control" id="usuario" name="usuario" placeholder="Usuario">
                    </div>
                
                    <div class="mb-3 col-6">
                        <input type="password" maxlength="50" required class="form-control" id="password" name="password" placeholder="Contraseña">
                    </div>
                    <p>
                        <button type="submit" class="btn btn-primary" style="background-color:green; color:black; border: black;">INGRESAR</button>
                    </p>
                </form>
                
                <form action="{{ url_for('index') }}" method="get">
                    <p>
                        <input type="submit" class="btn btn-primary" value="Volver" name="Submit" id="frm1_submit">
                    </p>
                </form>
            </li>
        </ul>
    </div>
</nav>
</center>
{% endblock%}