{% extends 'layouts/base.html' %}

{% block titulo %}
    crear producto
{% endblock %}

{% block contenido %}
    <h1>Crear producto</h1>
    <a href="{{ url_for('productos') }}">Volver</a>
    <!--crear formulario para llenar base de datos-->
    <form action="{{ url_for('crear_producto') }}" method="POST">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
            
            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion">
            
            <label for="precio_compra">Precio de Compra</label>
            <input type="text" class="form-control" id="precio_compra" name="precio_compra">
            
            <label for="precio_venta">Precio de Venta</label>
            <input type="text" class="form-control" id="precio_venta" name="precio_venta">
            
            <label for="activo">Activo (1=Si) (0=No)</label>
            <input type="text" class="form-control" id="activo" name="activo">
        </div>
        <!--boton para enviar formulario-->
        <button type="submit">Guardar</button>
    </form>
{% endblock %}