{% extends 'layouts/base.html' %} 
{% block titulo %} Editar Productos {% endblock %} 

{% block contenido %}
<h1>Editar Productos</h1>


<form method="POST">
    <div class="row">
        <div class="col-5 mb-3">
            <label for="proveedor">Proveedor</label>
            <select class="form-select" required id="provedor" name="provedor">
                <option selected value="">{{provedor}} (seleccione)</option>
                {% for nombreProveedor in nombreProveedores%}
                    <option value="{{nombreProveedor[0]}}">{{ nombreProveedor[0] }}</option>
                {%endfor%}
            </select>
        </div>
        <div class="col-5 mb-3">
            <label for="marca">Marca</label>
            <select class="form-select" required id="marca" name="marca">
                <option selected value="">{{ marca }} (seleccione)</option>
                {% for nombreMarca in nombreMarcas%}
                    <option value="{{nombreMarca[0]}}">{{ nombreMarca[0] }}</option>
                {%endfor%}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-5 mb-3">
            <label for="precio_compra">Producto</label>
            <input type="text" maxlength="50" placeholder="Digite el nombre del producto" value="{{producto}}" required class="form-control" id="producto" name="producto">
        </div>
        <div class="col-5 mb-3">
            <label for="precio_venta">Precio de compra</label>
            <input type="number" placeholder="Digite el precio de compra" value="{{precio_compra}}" required class="form-control" id="precio_compra" name="precio_compra">
        </div>        
    </div>
    <div class="row">
        <div class="col-5 mb-3">
            <label for="precio_venta">Precio de venta</label>
            <input type="number" placeholder="Digite el precio de venta" value="{{precio_venta}}" required class="form-control" id="precio_venta" name="precio_venta">
        </div>
        <div class="col-5 mb-3">
            <div class="mb-3">
                <label for="ganancia">IVA (19%)</label>
                <input type="number" value="{{ganancia}}" required class="form-control" id="ganancia" name="ganancia" readonly>
            </div>
        </div>
    </div>
    <input type="button" class="btn btn-primary" href="" value="Volver" onClick="history.go(-1);">
    <button type="submit" class="btn btn-primary" style="background-color: green; border-color:black; color:black ";>Guardar</button>
</form>

<script>
    let inputPrecioCompra = document.querySelector('#precio_compra')
    let inputPrecioVenta = document.querySelector('#precio_venta')
    let inputGanancia = document.getElementById('ganancia')
    
    inputPrecioCompra.addEventListener('change', cambioPrecioCompra)
    function cambioPrecioCompra(e){
        console.log('Cambiando precio compra')
    }

    inputPrecioVenta.addEventListener('change', cambioPrecioVenta)
    function cambioPrecioVenta(e){
        // Esta cambiando el precio venta
        // ganancia = (precio_venta / precio_compra) / 100
        let precio_venta = parseInt(inputPrecioVenta.value)
        let precio_compra = parseInt(inputPrecioCompra.value)
        let ganancia = ((precio_venta * 19)/ 100)
        ganancia=parseInt(ganancia)
        inputGanancia.value = ganancia
    }


</script>
{% endblock%}